<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    input:valid {
        border:4px solid green;
        
    }

    input:invalid {
        border:4px solid red;
    }
</style>
<body>
    <%= message %>
    <form method="POST" action="/confirm">
        <input type="text" name="username" id="username" value="tutu" pattern="\w{3-16}" required>
        <input type="password" name="mdp" id="mdp" value="tutu1"  required> 
        <!-- regex pour mdp pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"  -->
        <button type="submit"  id="btn_connect">Se connecter</button>
    </form>
    <a href="">S'inscrire</a>

</body>

</html>